<%

  sns      = sns || {};
  facebook = sns.facebook || {};
  shareurl = facebook.shareurl || url;
  linktext = facebook.linktext || 'facebook';

  encoded_shareurl = encodeURIComponent(shareurl);
%>
<a href="https://www.facebook.com/sharer/sharer.php?u=<%= shareurl %>" target="_blank"><%= linktext %></a>
