<% locals.partial_gplusbutton = function (buf, opts) { %><%
opts = opts || {}
%><div class="g-plusone" <% if (opts.size) {
%>data-size="<%= opts.size %>" <% } if (opts.url){
%>data-href="<%= opts.url %>" <% } 
%>></div>
<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script><% } %>